body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}

.button-container {
  text-align: center;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

#content {
  margin-top: 20px;
  max-width: 800px;
  margin: 0 auto;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
